body {
  margin: 0;
  background-color: #dee4e7;
  min-width: 800px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
  border: 6px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0e0e0e;
}

input[type=text] {
  font-family: inherit; /* 1 */
  font-size: inherit; /* 1 */
  line-height: inherit; /* 1 */
  margin: 0; /* 2 */
}

h1, h2, h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.dialog-form {
  display: inline-block;
  padding: 10px;
  border: 1px solid #111;
  border-radius: 5px;
}
.dialog-form__cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
}
.dialog-form__fild {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}
.dialog-form__fild > label {
  font-size: 1rem;
}
.dialog-form__fild > textarea {
  font-size: 1rem;
  font-weight: 400;
}
.dialog-form__fild > select, .dialog-form__fild > input {
  min-height: 1.8rem;
}
.dialog-form__cont-ckb {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
  align-items: center;
}
.dialog-form .tbl-view__cmd {
  justify-content: right;
}
.dialog-form .comboBox {
  position: relative;
}
.dialog-form .comboBox .inputFilter__title {
  font-size: 1rem;
  min-height: 1.8rem;
  min-width: 50vw;
  position: relative;
  width: 100%;
}
.dialog-form .comboBox .inputFilter__icon {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.5rem;
  transition: transform 0.3s linear;
}
.dialog-form .comboBox .content {
  display: none;
  z-index: 1;
  position: absolute;
  top: 1.8rem;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid rgb(118, 118, 118);
  background-color: white;
}
.dialog-form .comboBox .content.active {
  display: block;
}
.dialog-form .comboBox .content .search input {
  height: 1.8rem;
  width: 100%;
  outline: none;
  font-size: 1rem;
  padding: 1px 5px;
  border-radius: 1px;
  border: 1px solid rgb(118, 118, 118);
}
.dialog-form .comboBox .content .items {
  margin-top: 10px;
  max-height: 250px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.dialog-form .comboBox .content .items .item {
  display: block;
  width: 100%;
  border: none;
  cursor: pointer;
  height: 1.25rem;
  font-size: 1rem;
  padding: 0 13px;
  margin: 0;
}
.dialog-form .comboBox .content .items .item:hover, .dialog-form .comboBox .content .items .item:focus {
  background-color: #f2f2f2;
  outline: none;
}
.dialog-form .comboBox .content .items .item.disable {
  display: none;
}

.context-menu {
  position: fixed;
  z-index: 10000;
  width: 150px;
  background-color: #F3F4F5;
  border-radius: 2px;
  transform: scale(0);
  transform-origin: top left;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
}
.context-menu.visible {
  transform: scale(1);
  transition: transform 200ms ease-in-out;
}
.context-menu .item {
  font-size: 1rem;
  color: black;
  cursor: pointer;
  border-radius: inherit;
}
.context-menu .item input {
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 5px;
  font-size: inherit;
  font-family: inherit;
}
.context-menu .item:hover {
  background-color: #343434;
  color: white;
}
.context-menu .item:hover input {
  color: inherit;
}

.popup {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-in-out;
  z-index: 5;
}
.popup.active {
  visibility: visible;
  background: rgba(0, 0, 0, 0.3);
}
.popup > div {
  background-color: #F3F4F5;
}

.wrapper {
  background-color: #F3F4F5;
  min-height: 100vh;
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
}
.wrapper.print {
  background-color: white;
  max-width: none;
  box-shadow: none;
}

.header {
  background: radial-gradient(425.02px at 50% 50%, #104D82 0%, #234161 100%);
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.3fr;
  grid-template-areas: "left logo right" "left title right" "nav nav nav";
  grid-template-rows: auto 1fr auto;
  justify-items: center;
}
.header.print {
  display: none;
}
.header .icon {
  position: relative;
  width: 10px;
  height: 40px;
  background-color: #004BC1;
  align-self: center;
  justify-self: left;
  margin-left: 30px;
}
.header .icon::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 10px;
  height: 20px;
  background-color: #ffe358;
}
.header .logo {
  width: 60px;
  height: 60px;
  background: url("../img/logo.svg") center no-repeat;
  margin-top: 20px;
  grid-area: logo;
}
.header .title {
  color: white;
  grid-area: title;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 2.4rem;
}
.header .title span {
  font-size: 1rem;
  color: #aab3c6;
  letter-spacing: 0.2px;
  line-height: 1rem;
}
.header .menu {
  grid-area: nav;
  margin: 40px 0 20px;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: white;
}
.header .menu__items {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.header .menu__item input[type=button] {
  background-color: transparent;
  font-size: inherit;
  font-weight: 600;
  color: white;
  border: none;
  cursor: pointer;
}

.main {
  padding: 10px;
}
.main .signature {
  display: none;
  margin-top: 75px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
.main .signature div {
  text-align: center;
}
.main .signature__border {
  border-bottom: 1px solid black;
  min-width: 15rem;
}
.main .signature.print {
  display: grid;
}

.dodatok {
  margin-top: 20px;
  font-weight: bold;
  font-size: 1rem;
  text-align: right;
}
.dodatok.print {
  margin: 0;
}
.dodatok__input {
  display: inline-block;
  min-width: 1.1rem;
  text-align: center;
  border-bottom: 2px solid black;
  font-size: 1rem;
  padding: 0 5px;
}
.dodatok__input.border-none {
  border: none;
}
.dodatok__input.print {
  border: none;
}

.title {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.organization {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.organization__input {
  min-width: 600px;
  text-align: center;
  border-bottom: 2px solid black;
  font-size: 1.1rem;
  height: 1.5rem;
  padding: 0 5px;
}
.organization label {
  text-align: center;
  font-size: 0.8rem;
}
.organization .comma.disable {
  display: none;
}

.people {
  margin-top: 20px;
}
.people .tbl {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  border: 1px solid black;
  border-bottom: none;
}
.people .tbl__head, .people .tbl__head-row, .people .tbl__body, .people .tbl__body-row {
  display: contents;
}
.people .tbl__head-cell, .people .tbl__body-cell {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.people .tbl__body-cell {
  font-weight: 400;
  padding: 2px;
}
.people .tbl__head-cell:last-child, .people .tbl__body-cell:last-child {
  border-right: none;
}
.people .tbl__body-row:hover .tbl__body-cell {
  background-color: #ccc;
}

.tbl-view__cmd {
  margin-top: 10px;
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
  justify-content: left;
  align-items: center;
}
.tbl-view__cmd.print {
  display: none;
}
.tbl-view__cmd .btn {
  display: flex;
  -moz-column-gap: 6px;
       column-gap: 6px;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #111;
  border-radius: 5px;
  box-shadow: 0 3px 5px -4px #111;
  padding: 3px 10px 4px;
}
.tbl-view__cmd .btn:hover {
  background-color: rgb(249, 250, 251);
}
.tbl-view__cmd .btn__icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1rem;
}
.tbl-view__cmd .btn__icon.create {
  background-image: url("../img/file-plus.svg");
}
.tbl-view__cmd .btn__title {
  font-size: 1rem;
  color: #111;
}